@model string

<a href="@Model" class="logo">
    <strong>aeero</strong>
    <div>
        <span class="logo-a"></span>
        <span class="logo-e"></span>
        <span class="logo-e"></span>
        <span class="logo-r"></span>
        <span class="logo-o"></span>
    </div>
</a>